# HKOCH my gitignore file 210620

# Microchip MPLABX / XC8 related files
# See: http://microchip.wikidot.com/mplabx:directory-structure
# https://electronics.stackexchange.com/questions/131588/which-files-to-version-control-in-mplabx-nbproject-directory
# http://microchip.wikidot.com/faq:72

*.cmf
*.d
funclist
*.hxl
*.lst
*.mk
*.map
*.mum
*.p1
*.pre
*.rlf
*.sdb
*.sym

/build
/dist
#Makefile*



# Note - these ignore the 'private' directory which is machine
# specific information, meaning any USB debug tools won't be
# version controlled.
#
# See: http://electronics.stackexchange.com/questions/131588/which-files-to-version-control-in-mplabx-nbproject-directory
**/nbproject/**
!**/nbproject/configurations.xml
!**/nbproject/project.properties
!**/nbproject/project.xml
/nbproject/private

